<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Samir Chaulagain</h1>
    <p>{{name}}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi ducimus rerum temporibus. Nihil non tempora delectus magni culpa iusto nam nesciunt quae cupiditate laudantium esse fugit, ab eligendi alias iure sit!</p>

    <hr>
    <ul>
        <li> <a href="{% url 'about' %}">about</a> </li>
        <li>learn</li>
        <li>bigdata</li>
        <li>Ai</li>
    </ul>
</body>
</html>